<include href="public.htm"/>
<include href="navigation.htm"/>

<div class="container content text-center">

    <h1>GitHub Repo Searcher</h1>
    <br />

    <p class="lead">You can find information about public repositories of users on <a href="/">Search page</a>.</p>
    <p class="lead">You can see what other users searched for on <a href="/logs">Search Logs</a>.</p>
    <p class="lead">If you login you can erase some of the log entries on <a href="/logs">Search Logs</a>.</p>
</div>

</div><!-- /.container -->


<include href="footer.htm"/>
